    <article class="post">
      <div class="title">
        {{title}}
        by {{user.username}} on {{format_date created_at}}
        <span>({{post_url}})</span>
      </div>
      <div class="meta">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>